@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

* {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;

  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.active {
  /* background-color: #bdb5d5; */
  color: white;
}

.material-icons-outlined {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /*Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers.  */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome.  */
  text-rendering: optimizeLegibility;

  /* Support for Firefox.  */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE.  */
  font-feature-settings: "liga";
}

body {
  background-color: #9352fd;
  color: black;
  padding: 2rem;
  margin: 0;
}

button {
  border-radius: 0.5em;
}

.trendingpage {
  background-color: #9352fd;
  margin-left: 10%;
  margin-right: 10%;
}

.trendingresults {
  border-radius: 0.5em;
  background-color: antiquewhite;
  margin: 0;
  display: flex;
  width: 100%;
  border-bottom: 2px solid black;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.5);
}

.trendingthumbnail {
  margin-right: 75px;
  width: 25%;
}

.trendingthumbnail img {
  border-radius: 0.5em;
  box-shadow: 9px 9px 1px 1px rgba(0, 0, 0, 0.25);
}

.trendinginfo {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.buttonbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
}

.searchinput {
  border: 2px solid gray;
  text-align: center;
  height: 30px;
  display: block;
  justify-content: center;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  width: 30%;
}
.searchedframe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.searched {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
  background-color: antiquewhite;
  margin-top: 20px;
  margin: 10px;
  width: 65%;
  border-bottom: 2px solid black;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.5);
}

.navbutton {
  display: flex;
  align-items: center;
  color: white;
  max-width: max-content;
  max-height: max-content;
  min-width: 100px;
  min-height: 75px;
}

.topgames {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.topgamecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
  background-color: antiquewhite;
  margin-top: 10px;
  margin: 10px;
  display: flex;
  width: 85%;
  border-bottom: 2px solid black;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.5);
}

.topgamecontainer ul {
  margin-bottom: 0;
}

.topgame {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.topgame img {
  border-radius: 0.5em;
  margin-bottom: 0;
}

.favoritetrending {
  margin-bottom: 50px;
}

.favoritegames {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.favoritesearches {
  display: flex;
  flex-direction: row;
}

.navbutton:hover {
  background-color: aqua;
}

.notliked {
  margin: 0;
  padding: 0;
  height: fit-content;
  width: fit-content;
  background: #9352fd;
  border: none;
}

.show {
  display: block;
}
.hide {
  display: none;
}

.liked {
  margin: 0;
  padding: 0;
  height: fit-content;
  width: fit-content;
  background: #9352fd;
  border: none;
  color: red;
}

ul {
  list-style-type: none;
}
li {
  /* border: 1px solid red; */
  text-align: center;
}

h1 {
  text-align: center;
  /* border: 1px solid black; */
}
.nav {
  /* border: 1px solid black; */
  text-align: center;
}
a {
  text-decoration: none;
}

.offline {
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  width: fit-content;
  position: relative;
  padding: 0em 0.2em 0em 0.1em;
  border-radius: 0.4em;
  left: 56%;
  transform: translateX(80%);
  transform: translateY(270%);
  font-family: "Inter", sans-serif;
}

.live {
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fa2929;
  color: white;
  width: fit-content;
  position: relative;
  padding: 0em 0.2em 0em 0.1em;
  border-radius: 0.4em;
  left: 56%;
  transform: translateX(80%);
  transform: translateY(270%);
  font-family: "Inter", sans-serif;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul > li:nth-last-child() {
  margin-bottom: 0;
}
